@model ASC.Web.Areas.Configuration.Models.MasterKeysViewModel

@{
    Layout = "_SecureLayout";
}
<style>
        .form-label-big {
            font-size: 15px !important;
            color: #777 !important;
        }

        .active-label-big {
            font-size: 15px !important;
            color: #777 !important;
            display: block;
            margin-bottom: 25px;
        }

        .active-area {
            margin-top: 12px;
        }

        .active-switch {
            margin-top: 5px;
        }

        .form-label-big {
        font-size: 15px !important;
        color: #777 !important;
    }

    .active-area {
        margin-top: 12px;
    }

    .active-label-big {
        font-size: 15px !important;
        color: #777 !important;
        display: block;
        margin-bottom: 18px;
    }

    .switch-label {
        cursor: pointer;
    }

    .active-area input[type="hidden"] {
        display: none !important;
    }
</style>
<div>
    <div class="row"></div>

    <div class="row padding-left-20px padding-right-20px">
        <div class="row z-depth-3">
            <div class="col s12 white-text padding-left-10px blue-grey lighten-1">
                <h5>Master Keys</h5>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 padding-bottom-15px">
                @if (Model.MasterKeys != null)
                {
                    <table class="highlight centered" id="tblMasterKeys">
                        <thead>
                            <tr>
                                <th data-field="RowKey">Row Key</th>
                                <th data-field="PartitionKey">Partition Key</th>
                                <th data-field="Name">Name</th>
                                <th data-field="IsActive">Is Active</th>
                                <th data-field="IsActiveImg">Is Active</th>
                                <th data-field="Actions">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var masterKey in Model.MasterKeys)
                            {
                                <tr>
                                    <td>@masterKey.RowKey</td>
                                    <td>@masterKey.PartitionKey</td>
                                    <td>@masterKey.Name</td>
                                    <td>@masterKey.IsActive</td>
                                    <td>
                                        <img src="@(masterKey.IsActive ? "/images/green_tick.png" : "/images/red_cross.png")" width="30" height="30" />
                                    </td>
                                    <td>
                                        <i class="small material-icons edit cursor-hand">
                                            mode_edit
                                        </i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="card blue-grey lighten-1">
                        <div class="card-content white-text">
                            <span class="card-title">No Service Engineers!!!</span>
                            <p>
                                No Master Keys found, please add a Master Key to system.
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row"></div>

        @* Details Section *@
        <div class="row z-depth-3">
            <div class="col s12 padding-0px">

                <div class="section white-text padding-left-10px blue-grey lighten-1">
                    <h5>Master Key Details</h5>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <form action="/Configuration/MasterData/MasterKeys"
                          method="post"
                          class="col s12"
                          id="formMasterKey">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <input type="hidden"
                                   id="IsEdit"
                                   name="IsEdit"
                                   value="False" />

                            <input type="hidden"
                                   id="MasterKeyInContext_RowKey"
                                   name="MasterKeyInContext.RowKey" />

                            <input type="hidden"
                                   id="MasterKeyInContext_PartitionKey"
                                   name="MasterKeyInContext.PartitionKey" />

                            <div class="input-field col s4">
                                <input type="text"
                                       id="Input_MasterKey_RowKey"
                                       readonly="readonly" />

                                <label for="Input_MasterKey_RowKey"
                                       class="active form-label-big">
                                    RowKey
                                </label>
                            </div>

                            <div class="input-field col s4">
                                <input type="text"
                                       id="MasterKeyInContext_Name"
                                       name="MasterKeyInContext.Name"
                                       class="validate" />

                                <label for="MasterKeyInContext_Name"
                                       class="active form-label-big">
                                    Name
                                </label>

                                <span class="red-text"
                                      data-valmsg-for="MasterKeyInContext.Name"
                                      data-valmsg-replace="true">
                                </span>
                            </div>

                            <div class="col s4 active-area">
                                <div class="switch">
                                    <label class="switch-label">
                                        <span class="active-label-big">Is Active</span>

                                        <input type="checkbox"
                                               id="MasterKeyInContext_IsActive"
                                               name="MasterKeyInContext.IsActive"
                                               value="true" />

                                        <span class="lever"></span>
                                    </label>

                                    <input type="hidden"
                                           name="MasterKeyInContext.IsActive"
                                           value="false" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 right-align">
                                <button class="btn waves-effect waves-light btnSubmit"
                                        type="submit" name="action">
                                    Create
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="btn waves-effect waves-light reset red lighten-1"
                                        type="button" name="action">
                                    Reset
                                </button>
                            </div>
                            <div class="col s12 right-align" asp-validation-summary="All"></div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            // Initialize DataTable
            var table = $('#tblMasterKeys').DataTable({
                'pageLength': 3,
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']]
            });

            $('#tblMasterKeys').css("width", "100%");
            $('select[name="tblMasterKeys_length"]').formSelect();

            // Hide PartitionKey and IsActive text columns
            table.column(1).visible(false);
            table.column(3).visible(false);

            M.updateTextFields();

            // Handle Reset
            $(document).on('click', '.reset', function () {
                $('#formMasterKey')[0].reset();
                $('#IsEdit').val('False');
                $('#MasterKeyInContext_RowKey').val('');
                $('#Input_MasterKey_RowKey').val('');
                $('#MasterKeyInContext_PartitionKey').val('');
                $('#MasterKeyInContext_Name').val('').removeClass('valid');
                $('#MasterKeyInContext_IsActive').prop('checked', false);
                $('.btnSubmit').html('CREATE <i class="material-icons right">send</i>');
                M.updateTextFields();
            });

            // Handle Edit
            $(document).on('click', '.edit', function () {
                var user = $('#tblMasterKeys').DataTable().row($(this).parents('tr')).data();

                $('#IsEdit').val('True');
                $('#MasterKeyInContext_RowKey').val(user[0]);
                $('#Input_MasterKey_RowKey').val(user[0]);
                $('#MasterKeyInContext_PartitionKey').val(user[1]);
                $('#MasterKeyInContext_Name').val(user[2]).addClass('valid');
                $('#MasterKeyInContext_IsActive').prop('checked', user[3] === 'True');
                $('.btnSubmit').html('SAVE <i class="material-icons right">send</i>');
                M.updateTextFields();
            });

        });
    </script>
}